<div class="parallax ">
  <app-initial-menu></app-initial-menu>
  <div class="container text-white text-center">
    <br><br>
    <h1 class="display-1 col-md-12 col-sm-12">Endu-Tour</h1>
    <p id="letterTitle">Vamonos de viaje!</p>
  </div>
</div>

<div class="container" id="container-text">
  <div id="text-margin">
    <div class="text-center">
      <h1 class="col-md-12 col-sm-12">Viajes</h1>
      <h4>Podras entrar en Rutas para ir a compatir tu pasion!</h4>

    <p>Podras encontrar muchos viajes que son creados por otros usuarios para compatir carretera.
    </p>
    <h1 class="col-md-12 col-sm-12">Regalos</h1>
      <h4>Podras recivir regalos.</h4>
    
    <p>Al terminar una ruta reciviras puntos, y estos puntos se cangean por premios.
    </p>
  </div>
  </div>
  </div>
  <h1 class="text-center">Podras crear rutas para todo!</h1>
  <div class="container">
    <hr class="divider-title">
    <div class="row">
       
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="project">
                <figure class="img-responsive">
                    <img src="http://www.cuadraciclos.net/_Media/image9_hr-3.jpeg">
                    <span class="actions">
                        <span class="project-details">Buggies</span>
                    </span>
                </figure>
            </div>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="project">
                <figure class="img-responsive">
                    <img src="https://http2.mlstatic.com/cuatriciclo-yamaha-raptor-700-r-2010-nuevo-permuto-D_NQ_NP_687017-MLA25819800250_072017-F.jpg">
                    <span class="actions">
                         <span class="project-details">Cuadraciclos</span>
                    </span>
                </figure>
            </div>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="project">
                <figure class="img-responsive">
                    <img src="https://pictures.topspeed.com/IMG/crop/201303/bms-choppers-mortal--17_1600x0w.jpg">
                    <span class="actions">
                        <span class="project-details">Chopper</span>
                    </span>
                </figure>
            </div>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="project">
                <figure class="img-responsive">
                    <img src="http://3.bp.blogspot.com/-ZocmTrS_-7g/VdY70s4qsEI/AAAAAAAAADM/zn1xWF3FId0/s1600/escapadas-moto.jpg">
                    <span class="actions">
                        <span class="project-details">Triciclos</span>
                    </span>
                </figure>
            </div>
        </div>
        
        
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="project">
                <figure class="img-responsive">
                    <img src="https://www.bsemoto.pe/wp-content/uploads/2018/02/bse-bosuer-phm7-calado.png">
                    <span class="actions">
                        <span class="project-details">Motos Especiales</span>
                    </span>
                </figure>
            </div>
        </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="project">
                <figure class="img-responsive">
                    <img src="https://ftecu.com/shop/images/54712/17_r6_blue_b1.jpeg">
                    <span class="actions">
                        <span class="project-details">Pistera</span>
                    </span>
                </figure>
            </div>
        </div>
        
       
        
        
       
        
       
    </div>
</div>






