<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Algo anda mal!</h1>
              <h2>
                 No estas logeado!</h2>
              <div class="error-details">
                  Necesitas estar conctado con una cuenta para tener acceso a toda la aplicacion
              </div>
              <div class="error-actions">
                  <a href="http://localhost:4200/inicio" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                      Take Me Home </a>
              </div>
          </div>
      </div>
  </div>
</div>
